<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="template1">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container">
			<div style="padding: 15% 20%;">
		<h1 style=" color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; text-align: center; ">Welcome on the app </h1>
		<h2 style=" color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;text-align: center; ">Start transactions with your buddies!</h2>
			</div>

		</div>
	</div>

</body>
</html>